body {
  background-image: linear-gradient(#7bc789, #90dce7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  color: rgb(0, 0, 0);
}

.main-div {
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 100px;
  width: 75%;
  border-radius: 25px;
  height: 75%;
  background-color: #dee7e8;
  position: absolute;
  transform: translateX(150px);
}

.squidward {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}
.title {
  height: 5%;
}

.header {
  color: black;
  height: 15%;
  align-items: center;
}

.header > div {
  padding: 20px;
}

.posts {
  height: 65%;
  background-color: whitesmoke;
  border: double 4px transparent;
  background-image: linear-gradient(white, white), linear-gradient(#7bc789, #90dce7);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow-y: auto;
  border-radius: 25px;
  border-width: 5px;
}

#post-text-box {
  width: 90%;
  padding: 20px;
  position: absolute;
  bottom: 45px;
  left:50%;
  margin-left:-45%;
}

.post-button {
  padding: 5px;
  bottom: 8px;
  position: absolute;
  left:50%;
  
}

h2 {
  text-align: center;
}

.title{
  text-align: right;
  padding: 3%;
}

#list-posts {
  top: 55px;
  text-align: left;
  padding: 2%;
}

hr {
  position: absolute;
  bottom: 100px;
}

#post-title {
  font-size: 16px;
}


.auth-div {
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 25px;
  width: 25%;
  border-radius: 25px;
  height: 75%;
  background-color: #dee7e8;
}