body {
  background-color: #82c4dc;
  color: rgb(0, 0, 0);
}

.welcome-div {
  margin-left: 12%;
  text-align: center;
}

.squidward {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.title {
  height: 5%;
}

.test-button {
  align-self: center;
  text-align: center;
}
.header {
  background-color: #dee7e8;
  color: black;
  height: 15%;
  align-items: center;
}

.header > div {
  padding: 20px;
}